@font-face {
    font-family: 'futuraoblique';
    src: url(FuturaOblique.ttf);
}

body {
    font-family: 'futuraoblique', Courier, monospace;
    background-color: rgb(255, 255, 255);
    background-color: red;
}

.title {
    font-family: 'futuraoblique', Courier, monospace;
    font-size: 50px;
    font-size: 10vh;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  

.right {
    background-color: rgb(255, 0, 0);
}

.descriptions {
    text-align: right;
}

.titlel {
    font-family: 'futuraoblique', Courier, monospace;
    font-size: 50px;
    font-size: 10vh;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-top:130px;
  }

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .left {
    left: 0;
    background-color: #ffbf00e5;
    text-align: left;
  }
  
  .right {
    right: 0;
    background-color: red;
    text-align: right;
  }