@font-face {
    font-family: 'futuraoblique';
    src: url(FuturaOblique.ttf);
}

body {
    font-family: 'futuraoblique', Courier, monospace;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    max-height: auto;
}

.title {
    font-size: 70px;
    transform: rotate(25deg);
    transform-origin: 0% 0%;
    padding-left: 70px;
}

.content {
    background-color: rgb(255, 0, 0);
    height: 900px;
}